<app-preloader *ngIf="isLoading"></app-preloader>

<div *ngIf="!isLoading">
    <input 
        type="text"
        class="mb-2 border py-2 px-4 w-full"
        placeholder="Filter products..."
        [(ngModel)]="term"
    >

    <div *ngIf="productsService.products">
        <app-product 
            *ngFor="let product of productsService.products | filterProducts: term" 
            [product]="product">
        </app-product>
    </div>

    <app-modal *ngIf="modalService.isVisible$ | async" title="Add product">
        <app-product-add></app-product-add>
    </app-modal>

    <button 
        class="rounded-full bg-green-700 text-white fixed right-5 bottom-5 py-2 px-3"
        (click)="modalService.open()"
    >
        <span>&#10010;</span>
    </button>
</div>