<div class="py-4 px-6 border relative">
    <img [src]="product.image" [alt]="product.title" class="w-1/3 mb-2">
    <h2 class="mb-2 text-md text-yellow-500">{{product.title}}</h2>
    <p>Price: <span class="font-bold">{{product.price | currency}}</span></p>

    <button 
        class="absolute bottom-1 right-1 border py-1 px-2 rounded"
        [ngClass]="{
            'bg-yellow-400': !showDetails,
            'bg-blue-400': showDetails
        }"
        (click)="showDetails = !showDetails"
    >
        <span>{{ showDetails ? 'Hide' : 'Show' }} details</span>
    </button>

    <div *ngIf="showDetails">
        <p>{{ product.description }}</p>
        <p class="font-bold" *ngIf="product.rating">Rating: {{ product.rating.rate | number: '1.2-4' }}</p>
    </div>
</div>
