<nav class="absolute top-0 right-0 left-0 h-[50px] flex justify-between items-center text-white bg-gray-500 px-5">
    <h1 class="font-bold">Angular App</h1>

    <span>
        <a 
            routerLink="/" 
            routerLinkActive="text-yellow-500"
            [routerLinkActiveOptions]="{exact:true}"
            class="mr-10"
        >
            <span>Products</span>
        </a>
        <a 
            routerLink="/about"
            routerLinkActive="text-yellow-500"
        >
            <span>About</span>
        </a>
    </span>
</nav>